<app-navbar/>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <p>
          @if (resetMessage != "") {
            <div class="alert alert-success" role="alert">
              {{ resetMessage }}
            </div>
          }
        </p>
        <form [formGroup]="myForm">

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" style="color: black;" for="form3Example3">Nom d'Utilisateur </label>
            <input
            style="border:1px solid black;"
              type="text"
              formControlName="username"
              id="username"
              class="form-control form-control-lg"
              placeholder="Nom d'Utilisateur"
            />

          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label style="color: black;" class="form-label" for="form3Example4">Mot de Passe</label>
            <input
            style="border:1px solid black;"
              type="password"
              formControlName="password"
              id="password"
              class="form-control form-control-lg"
              placeholder="Entrez un mot de passe"
            />
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Se souvenir
              </label>
            </div>

            <button
              (click)="showDialogModal()"
              style="
                background-color: transparent;
                text-decoration: underline;
                cursor: pointer;
                border: none;
              "
            >
              Mot de passe oublié?
            </button>

          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
            style=""
              (click)="onSubmit()"
              class="btn btn-primary btn-xl"
              style="padding-left: 2.5rem; padding-right: 2.5rem;background-color: #7551B7;"
            >
              Connexion
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Pas de Compte?
              <a href="/register" style="color: blue;" >Inscrivez-vous</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
 <app-footer/>
</section>




<!-- modal1 -->
<div class="card flex justify-center">
  <p-dialog
    [modal]="true"
    header="Entrez L'email"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
  <div style="display: grid;">


  </div>
    <div
      class=" height-100 d-flex justify-content-center align-items-center"
    >

      <div class="position-relative">
        <div class="p-2 text-center">
          <h6><br /></h6>
          <div>

          </div>
          <form style="display: grid;" [formGroup]="resetFirstForm">
            <div class="form-group">

              <input type="email"  formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre email">

            </div>
          <div class="mt-4">
            <button (click)="showDialogModal2()" class="btn btn-danger px-4 validate">
              Envoyer le code
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Modal2 -->
<div class="card flex justify-center">
  <p-dialog
    [modal]="true"
    header="Renseigner l'otp "
    [(visible)]="visible2"
    [style]="{ width: '25rem' }"
  >

    <div
      class="container height-100 d-flex justify-content-center align-items-center"
    >

      <div class="position-relative">
        <div class=" p-2 text-center">
          <h6> <br /></h6>
          <div>
            <span>Un code a usage unique a été envoyé à </span>
            <small>{{ email }}</small>
          </div>
          <form [formGroup]="forgetPass">
            <div
              id="otp"
              class="inputs d-flex flex-row justify-content-center mt-2"
            >
              <input
                class="m-2 text-center form-control rounded"
                type="text"
                formControlName="otp1"
                id="first"
                maxlength="1"
              />
              <input
                class="m-2 text-center form-control rounded"
                type="text"
                formControlName="otp2"
                id="second"
                maxlength="1"
              />
              <input
                class="m-2 text-center form-control rounded"
                type="text"
                formControlName="otp3"
                id="third"
                maxlength="1"
              />
              <input
                class="m-2 text-center form-control rounded"
                type="text"
                formControlName="otp4"
                id="fourth"
                maxlength="1"
              />
            </div>
          </form>
          <div class="mt-4">
            <button (click)="showDialogModal3()" class="btn btn-danger px-4 validate">
              Soumettre
            </button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>


<!-- modal3 -->
<div class="card flex justify-center">
  <p-dialog
    [modal]="true"
    [(visible)]="visible3"
    header="Formulaire de modification"
    [style]="{ width: '25rem' }"
  >

    <div
      class="container height-100 d-flex justify-content-center align-items-center"
    >

      <div class="position-relative">
        <div class="p-2 text-center">

          <form [formGroup]="resetSecondForm" style="gap: 40px;">
            <div class="form-group">
              <label for="exampleInputEmail1">Mot de Passe</label>
              <input type="password"  formControlName="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mot de passe">

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Confirmer Mot de Passe</label>
              <input type="password " formControlName="confirmPassword" class="form-control" id="exampleInputPassword1" placeholder="Confirmer Mot de Passe">
            </div>
          </form>
          <div class="mt-4">
            <button (click)="sendData()" class="btn btn-danger px-4 validate">
              Envoyer
            </button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
