<app-navbar/>
<div class="single-property section" style="margin-top: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="main-image">
          <img src="assets/images/images.jfif" alt="Image de l'appartement" />
        </div>
        <div class="main-content">
          <h4>Immeuble R+3 avec plusieurs types d'appartements</h4>
          <pre>
                      Nous sommes sur un chantier .. en finition, R+3 et à l’intérieur de vaste couloir qui bien vaste pour une liberté fluide de circulation,<br>
                      des chauffe eau à tous les niveaux. Le bâtiment est composé de différentes types d’appartements tels que les studios qui font en largeurs : 08M70 et en longueur 08M70 ce qui nous donne un total de 17M2.
                  </pre>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="accordion" id="accordionOne">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Commodités
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionOne"
                >
                  <div class="accordion-body">
                    <ul class="list-group">
                      <li class="list-group-item">N° chambre : 1</li>
                      <li class="list-group-item">N° Douches : 1</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="accordion" id="accordionTwo">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <span class="accordion-button"> Avantages </span>
                </h2>
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">Piscine : Oui</li>
                    <li class="list-group-item">Espace vert : Oui</li>
                    <li class="list-group-item">École/Université : Proche</li>
                    <li class="list-group-item">Centre commercial : Proche</li>
                    <li class="list-group-item">Gardien : Oui</li>
                    <li class="list-group-item">Zone calme : Oui</li>
                    <li class="list-group-item">Balcon/Terrasse : Oui</li>
                    <li class="list-group-item">Salle de gym : Oui</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info-table">
          <ul>
            <li>
              <img
                src="icons/surface.png"
                alt="Surface"
                style="max-width: 52px"
              />
              <h4>Surface<br /><span> 60m²</span></h4>
            </li>
            <li>
              <img
                src="icons/contrat.png"
                alt="Contrat"
                style="max-width: 52px"
              />
              <h4>Contrat<br /><span>Contrat disponible</span></h4>
            </li>
            <li>
              <img
                src="icons/paiement.png"
                alt="Paiement"
                style="max-width: 52px"
              />
              <h4>
                Paiement<br /><span>Possibilité de valider le paiement</span>
              </h4>
            </li>
            <li>
              <img
                src="icons/garantie.png"
                alt="Garantie"
                style="max-width: 52px"
              />
              <h4>Garantie<br /><span>Nous sommes disponibles 24/7</span></h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
