<div
  class="container height-100 d-flex justify-content-center align-items-center"
>
  <div class="position-relative">
    <div class="card p-2 text-center">
      <h6>
       Veuillez valider votre compte <br />

      </h6>
      <div><span>Un code a usage unique a été envoyé à </span> <small>{{email}}</small></div>
      <form>
      <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">

        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="first"
          maxlength="1"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="second"
          maxlength="1"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="third"
          maxlength="1"
        />
        <input
          class="m-2 text-center form-control rounded"
          type="text"
          id="fourth"
          maxlength="1"
        />

      </div>
    </form>
      <div class="mt-4">
        <button class="btn btn-danger px-4 validate">Validate</button>
      </div>
    </div>
  </div>
</div>
